# version: '3'
services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.15.1
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false  # Disable authentication for development
      - "ES_JAVA_OPTS=-Xms1g -Xmx1g"
    ports:
      - "9200:9200"
    deploy:
      resources:
        limits:
          memory: 5g
    volumes:
      - D:/NCKH/Text_to_Sign/ViSTAR/src/ai/services/text2frame_services/data/elastic_data:/usr/share/elasticsearch/data
      - D:/NCKH/Text_to_Sign/ViSTAR/src/ai/services/text2frame_services/data/elastic_log:/usr/share/elasticsearch/logs
    networks:
      - elastic

  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.1
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - xpack.security.enabled=false  # Disable Kibana authentication for development
    ports:
      - "5601:5601"
    networks:
      - elastic
    depends_on:
      - elasticsearch

networks:
  elastic:
    driver: bridge
